body{
  background-color: #E8F9FD;
  text-align: center;
  margin: 0;
  padding-top: 20rem;
font-family: 'Merriweather', serif;

}

@viewport{
width:device-width;
zoom:1.0;
}

.rainbow {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.rainbow img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.intro{
  width: 30%;
  margin: auto;

}

.myself{
  color: #47b5ff;
  position:absolute;
  top: 34%;
  left: 41%;
  font-size: 4.5rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;

}

.designation{
  color: #AAC4FF;
  font-weight: normal;
  position:absolute;
  top: 54%;
  left: 43%;
  font-family: 'Merriweather', serif;
  margin: auto;
  line-height:2;
  font-size: 2.5rem;

}
.middle-container{
  position: absolute;
  padding-top: 85rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
.pro-image{
  border-radius: 100%;
  width: 25%;
  margin: auto;
}


.dd-image{
  border-radius: 50%;
  float: left;
  width: 25%;
  margin-right: 30px;

}

.ei-image{
  border-radius: 50%;
  float: right;
  width: 25%;
  margin-left: 30px;
}

.h3{
  color: #4649ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;

}

.h2{
  color: #5800ff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;

}

a{
  color: #06283d;
  font-family: 'Montserrat', sans-serif;
  margin: 10px  20px;
  text-decoration: none;
  font-weight: bolder;


}

a:hover{
  color: #EAF6F6;

}

.hr{
  border: dotted #92b4ec;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.p{
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
  color: #251b37;
  font-weight: normal;
}

.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;


}

.btn {
  background: #1360d4;
  background-image: -webkit-linear-gradient(top, #5800ff, #5aa4cc);
  background-image: -moz-linear-gradient(top, #5800ff, #5aa4cc);
  background-image: -ms-linear-gradient(top, #5800ff, #5aa4cc);
  background-image: -o-linear-gradient(top, #5800ff, #5aa4cc);
  background-image: linear-gradient(to bottom, #5800ff, #5aa4cc);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #35947e;
  background-image: -webkit-linear-gradient(top, #35947e, #248c8a);
  background-image: -moz-linear-gradient(top, #35947e, #248c8a);
  background-image: -ms-linear-gradient(top, #35947e, #248c8a);
  background-image: -o-linear-gradient(top, #35947e, #248c8a);
  background-image: linear-gradient(to bottom, #35947e, #248c8a);
  text-decoration: none;
}

.bottom-container{
  background-color:#4649ff;
  margin: 100px auto 100px;
  padding-top: 10px;
}

.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
